<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khadijanaveed.assignment_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment_Project">
        <activity android:name=".name62"></activity>
        <activity android:name=".name61" />
        <activity android:name=".name19" />
        <activity android:name=".name60" />
        <activity android:name=".name59" />
        <activity android:name=".name58" />
        <activity android:name=".name57" />
        <activity android:name=".name56" />
        <activity android:name=".name55" />
        <activity android:name=".name54" />
        <activity android:name=".name53" />
        <activity android:name=".name52" />
        <activity android:name=".name51" />
        <activity android:name=".name50" />
        <activity android:name=".name49" />
        <activity android:name=".name48" />
        <activity android:name=".name47" />
        <activity android:name=".name46" />
        <activity android:name=".name45" />
        <activity android:name=".name44" />
        <activity android:name=".name43" />
        <activity android:name=".name42" />
        <activity android:name=".name41" />
        <activity android:name=".name40" />
        <activity android:name=".name39" />
        <activity android:name=".name38" />
        <activity android:name=".name37" />
        <activity android:name=".name36" />
        <activity android:name=".name35" />
        <activity android:name=".name34" />
        <activity android:name=".name33" />
        <activity android:name=".name32" />
        <activity android:name=".name31" />
        <activity android:name=".name30" />
        <activity android:name=".name29" />
        <activity android:name=".name28" />
        <activity android:name=".name27" />
        <activity android:name=".name26" />
        <activity android:name=".name25" />
        <activity android:name=".name24" />
        <activity android:name=".name23" />
        <activity android:name=".name22" />
        <activity android:name=".name21" />
        <activity android:name=".name20" />
        <activity android:name=".namee19" />
        <activity android:name=".name18" />
        <activity android:name=".name17" />
        <activity android:name=".name16" />
        <activity android:name=".name15" />
        <activity android:name=".name14" />
        <activity android:name=".name13" />
        <activity android:name=".name12" />
        <activity android:name=".name11" />
        <activity android:name=".name10" />
        <activity android:name=".name9" />
        <activity android:name=".name8" />
        <activity android:name=".name7" />
        <activity android:name=".name6" />
        <activity android:name=".name5" />
        <activity android:name=".name4" />
        <activity android:name=".name3" />
        <activity android:name=".name2" />
        <activity android:name=".name1" />
        <activity android:name=".secondPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>